[Unit]
Description=Secplugs OnAccess Scan daemon

[Service]
ExecStart=/usr/bin/dockerplugin --daemon -c /etc/secplugs/config.json
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

